<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <modules>
    <module assemblyFile="ExmpleApp.LoginModule.dll" moduleType="ExmpleApp.LoginModule.LoginModule, ExmpleApp.LoginModule.LoginModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="LoginModule" startupLoaded="true" />
    <module assemblyFile="ExmpleApp.PlayerModule.dll" moduleType="ExmpleApp.PlayerModule.PlayerModule, ExmpleApp.PlayerModule.PlayerModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="PlayerModule" startupLoaded="false" />
    <module assemblyFile="ExmpleApp.VKApiModule.dll" moduleType="ExmpleApp.VKApiModule.VKApiModule, ExmpleApp.VKApiModule.VKApiModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="VKApiModule" startupLoaded="true" />
  </modules>
</configuration>